<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h1 class="display-4">Auto-suggest-me</h1>
    <p class="lead">un buscador que utiliza un Agente Inteligente (IA) para auto-suggestions de palabras</p>
    <p class="lead">basado en hits y última fecha de búsqueda</p>
  </div>
</div>

<div class="card mx-auto w-50">
  <div class="card-body w-100">
    <%= form_tag("/search", method: "get", remote: true) do %>
      <div class="form-group">
        <%= select_tag(:search_input, "", class: "w-75 js-data-example-ajax") %>
        <%= submit_tag("Buscar", class: "btn btn-outline-warning") %>
      </div>
    <% end %>
  </div>
</div>

<div class="card mx-auto w-50 mt-5 results-card" style="display: none;">
  <div class="card-body w-100">
    <div class="search_result">
    </div>
  </div>
</div>

<script>
  $('#search_input').select2({
    // configuration
    placeholder: 'Ingrese su búsqueda',
    minimumInputLength: 1,
    tags: true,
    allowClear: true,
    selectOnClose: true,
    // ajax options
    ajax: {
      url: "<%= find_suggestions_path  %>",
      data: function (params) {
        var query = {
          search: params.term,
        }
        return query;
      }
    }
  });
</script>
